.filter-tags{
    padding: 0px 20px;
    ion-button{
        margin: 0px 10px 0px 0px;
    --border-radius: 30px;
    height: 30px;
    min-height: 30px;
    font-size: 12px;
    --border-width: 1px;
    font-weight: 700;
    }
}
