<app-header [title]="'Explore'"></app-header>

<ion-content [fullscreen]="true">

  <ion-searchbar class="searchbar" animated="true" placeholder="Search" (ionInput)="search($event)"></ion-searchbar>
  <div class="filter-tags">
    <ion-button [fill]="tag.selected ? 'solid' : 'outline'" *ngFor="let tag of displayFilterTags" [disabled]="tag.disabled" (click)="selectTag(tag)">
      {{tag.name}}
    </ion-button>

  </div>

  <div id="container">
    <div *ngIf="!loadedData" class="spinner">
      <ion-spinner name="circles"></ion-spinner>
    </div>
    <div *ngIf="loadedData && filteredList">
      <app-places-list *ngIf=" filteredList.length" [places]="filteredList" [parentPage]="'explore'"></app-places-list>
      <p *ngIf="!filteredList.length" class="ion-text-center">There are no search results</p>
    </div>
     
     
  </div>
</ion-content>



