<ion-item *ngIf="parentPage === 'trip' && places && places.length > 1" lines="none">
  <ion-toggle justify="end" [checked]="isReorder" (ionChange)="toggleChange($event)">Reorder trip</ion-toggle>
</ion-item>


<div class="ion-text-center" *ngIf="parentPage === 'trip'">
  <p  class="mb-0">You have {{places.length}} place<span *ngIf="places.length !== 1 ">s</span> in your trip<span *ngIf="places.length > 1">, toggle above to reorder</span></p>
  <ion-button class="explore-places" (click)="toExplore()" fill="outline" shape="round" *ngIf="places.length === 0">Explore Places</ion-button>
</div>

<cdk-virtual-scroll-viewport
*ngIf="!isReorder"
itemSize="113"
minBufferPx="900"
maxBufferPx="1350">
<div  *cdkVirtualFor="let place of places">
  <div  >
    <app-place-card 
    [place]="place"
    [parentPage]="parentPage"
    >
    </app-place-card>
  </div>
 
</div>

</cdk-virtual-scroll-viewport>

<ion-list *ngIf="isReorder">
 
  <ion-reorder-group [disabled]="false" (ionItemReorder)="doReorder($event)">
    <app-place-card 
    *ngFor="let place of places"
    [place]="place"
    [parentPage]="parentPage"
    [isReorder]="true">
    </app-place-card>
  </ion-reorder-group>
</ion-list> 

 



