<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Trip</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="myTripSignal() as places">
      <app-places-list  [places]="places" [onTripPage]="true"></app-places-list>
    </ng-container>
  </div>
</ion-content>


