<ion-header>
  <ion-toolbar>
    <ion-title>Current Trip</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button class="circular-small-button">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 

  <div id="container">
    <ng-container *ngIf="myTripSignal() as places">
      <app-places-list  [places]="places" [parentPage]="'trip'"></app-places-list>
    </ng-container>
  </div>
</ion-content>


