ion-header {
    border-bottom: 1px solid var(--app-grey);
  }

  .with-back-button{
    padding-left: 0px;
}


ion-menu-toggle{
    margin-right:10px;
    .menu-button {
        position: relative;
        
      }
      .notification-bubble {
        position: absolute;
        top: -2px;
        right: 10px;
        background-color: var(--ion-color-danger);
        color: #f3f3f3;
        border-radius: 50%;
        font-size: 10px;
        height: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        z-index: 10;
        padding-top:1px;
    }
      
}
