<app-header [title]="title" [canGoBack]="canGoBack" [inModal]="inModal"></app-header>


<ion-content [fullscreen]="true">
 

  <div id="container" *ngIf="place">
    <p *ngIf="place.data.description">{{place.data.description}}</p>
    <div *ngIf="place.data.locationEmbed">
      <iframe
      referrerpolicy="no-referrer-when-downgrade"
       [src]="place.data.locationEmbed | safePipe:'resourceUrl'"
       class="g-map"
       height="450" 
       loading="lazy" 
      >
      </iframe>


       
    </div>

  </div>
</ion-content>


