ion-card{
    min-height: 113px;
    margin: 20px 10px;
    box-shadow: none;
    border: 1px solid var(--app-grey);
    border-radius: 13px;
}

.card-button-row{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.has-ellipsis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    flex-direction: row;
}



